.login-container {
  max-width: 550px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.logo {
  width: 300px;
  margin-top: 1.5rem;
}
